# Secret key para la generación de tokens JWT
JWT_SECRET=MySecretKey

# Puerto en el que se ejecutará el servidor
SERVER_PORT=3165

# Datos de conexión a la base de datos
DB_USERNAME=drellise_eventosPF
DB_PASSWORD=dPassw0rd
DB_NAME=eventosPF
DB_HOST=IPDelServidor
DB_PORT=3306

#Programar la tarea de cierre de eventos
CRON_MINUTO=0
CRON_HORA=*
CRON_DIA_DEL_MES=*
CRON_MES=*
CRON_DIA_DE_LA_SEMANA=*

# Habilitar o deshabilitar el log de consultas a la base de datos
ENABLE_DB_LOG=false

# Entorno de ejecución de la aplicación
NODE_ENV=development|production